
titulo{
    background-color: black;
}


#lista-plataforma {
    display: flex;
        gap: 10px;
}

#opcion-plataforma {
    width: 100px;
    height: 100px;
    background: violet;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid hotpink;
    font-family: 'Barrio', cursive;
}